{% extends "index.html" %}
{% block content %}
 
      <h1 class="display-5 text-center my-5">ALL QUIZZES</h1>

      <div class="container">
        <div class="d-flex">
        <a href="./all-quiz.html" class="btn btn-light me-2">ALL QUIZ</a>
        <a href="./all-quiz.html" class="btn btn-light me-2">English</a>
        <a href="./all-quiz.html" class="btn btn-light me-2">Chemistry</a>

      </div>
      </div>
      <form class="container d-flex my-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <a href="#" type="submit" class="btn btn-primary ms-2">Login</a>
      </form>
      <div class="container">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4>DAA</h4>
              <p class="card-text">Total Questions - 10</p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="./quiz.html" type="button" class="btn btn-sm btn-outline-success">Start Quiz</a>
                </div>
                <small class="text-body-secondary">1 week ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4>DSA</h4>
              <p class="card-text">Total Questions - 10</p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="./quiz.html" type="button" class="btn btn-sm btn-outline-success">Start Quiz</a>
                 </div>
                <small class="text-body-secondary">2 weeks ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4>OOPS</h4>
              <p class="card-text">Total Questions - 10</p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="./quiz.html" type="button" class="btn btn-sm btn-outline-success">Start Quiz</a>

                </div>
                <small class="text-body-secondary">3 weeks ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4>WT</h4>
              <p class="card-text">Total Questions - 10</p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="./quiz.html" type="button" class="btn btn-sm btn-outline-success">Start Quiz</a>

                </div>
                <small class="text-body-secondary">4 weeks ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4>PYTHON</h4>
              <p class="card-text">Total Questions - 10</p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="./quiz.html" type="button" class="btn btn-sm btn-outline-success">Start Quiz</a>

                </div>
                <small class="text-body-secondary">4 weeks ago</small>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
{% endblock content %}
    