{% extends "index.html" %}
{% block content %}           
      <h1 class="display-5 text-center my-5">Login</h1>
      <div class="container ">
               <div class="row row-cols-sm-1 container row-cols-lg-3">
          <div class="col-12">
          </div>
          <div class="col-12">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label visually-hidden">Username</label>
                  <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label visually-hidden">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember me </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button><br>
                <br>
                <p>New User? <a href="./register.html">Register</a></p>

              </form>
        
          </div>
          <div class="col-12">
          </div>
        </div>
      </div>
{% endblock content %}