{% extends "index.html" %}
{% block content %}
       <h1 class="display-5 text-center my-5">DAA - (10)</h1>
      <p class="fs-4 text-center container">These are the questions for DAA Unit 1 - (10)</p>
      <div class="container">
        <div class="d-flex justify-content-between">
            <span class="fs-5">December 10, 2024, 6:00PM</span>
            <span class="fs-5">10:00</span>

        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 1
                </div>
                <div class="card-body">
                    <p class="card-text">What is the time complexity of the binary search algorithm in the worst case?
                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                    O(n)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                        O(log n)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault3" >
                    <label class="form-check-label" for="flexRadioDefault3">
                        O(n²)

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault4" >
                    <label class="form-check-label" for="flexRadioDefault4">
                        O(1)
                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 2
                </div>
                <div class="card-body">
                    <p class="card-text">What is the time complexity of Depth First Search (DFS) for a graph with 𝑉 vertices and 𝐸 edges?
                        
                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault21">
                    <label class="form-check-label" for="flexRadioDefault21">
                    O(V + E)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault22" >
                    <label class="form-check-label" for="flexRadioDefault22">
                    O(V²)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault23" >
                    <label class="form-check-label" for="flexRadioDefault23">
                    O(E log V)
                    

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault24" >
                    <label class="form-check-label" for="flexRadioDefault24">
                    O(VE)
                    
                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 3
                </div>
                <div class="card-body">
                    <p class="card-text">Which algorithm is used to find the shortest path from a single source to all vertices in a weighted graph?
                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault31">
                    <label class="form-check-label" for="flexRadioDefault31">
                    Prim's Algorithm
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault32" >
                    <label class="form-check-label" for="flexRadioDefault32">
                    Dijkstra's Algorithm
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault33" >
                    <label class="form-check-label" for="flexRadioDefault33">
                    Kruskal's Algorithm
                    

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault34" >
                    <label class="form-check-label" for="flexRadioDefault34">
                    Bellman-Ford Algorithm
                    
                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 4
                </div>
                <div class="card-body">
                    <p class="card-text">What is the time complexity of the matrix chain multiplication problem using dynamic programming?
                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault41">
                    <label class="form-check-label" for="flexRadioDefault41">
                    O(n)
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault42" >
                    <label class="form-check-label" for="flexRadioDefault42">
                    O(n²)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault43" >
                    <label class="form-check-label" for="flexRadioDefault43">
                    O(n³)

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault44" >
                    <label class="form-check-label" for="flexRadioDefaul44">
                    O(2ⁿ)
                    
                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 5
                </div>
                <div class="card-body">
                    <p class="card-text">Which of the following problems can be solved using dynamic programming?
                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault51">
                    <label class="form-check-label" for="flexRadioDefault51">
                     Fibonacci sequence
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault52" >
                    <label class="form-check-label" for="flexRadioDefault52">
                    0/1 Knapsack problem
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault53" >
                    <label class="form-check-label" for="flexRadioDefault53">
                    Longest Common Subsequence
                    

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault54" >
                    <label class="form-check-label" for="flexRadioDefault54">
                    All of the above
                    
                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 6
                </div>
                <div class="card-body">
                    <p class="card-text">In a greedy algorithm, the solution is built:

                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault61">
                    <label class="form-check-label" for="flexRadioDefault61">
                    By solving sub-problems recursively
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault62" >
                    <label class="form-check-label" for="flexRadioDefault62">
                    By taking the best current choice
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault63" >
                    <label class="form-check-label" for="flexRadioDefault63">
                    By dividing the problem into smaller parts
                    

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault64" >
                    <label class="form-check-label" for="flexRadioDefault64">
                    By exploring all possible solutions
                    
                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 7
                </div>
                <div class="card-body">
                    <p class="card-text">Kruskal's algorithm is used to find:
                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault71">
                    <label class="form-check-label" for="flexRadioDefault71">
                    Shortest path in a graph
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault72" >
                    <label class="form-check-label" for="flexRadioDefault72">
                     Minimum spanning tree

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault73" >
                    <label class="form-check-label" for="flexRadioDefault73">
                     All pairs shortest path
                        

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault74" >
                    <label class="form-check-label" for="flexRadioDefault74">
                     Maximum flow in a graph
                        
                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 8
                </div>
                <div class="card-body">
                    <p class="card-text"> What is the recurrence relation for the Merge Sort algorithm?

                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault81">
                    <label class="form-check-label" for="flexRadioDefault81">
                    
                    T(n) = T(n-1) + n
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault82" >
                    <label class="form-check-label" for="flexRadioDefault82">
                    T(n) = 2T(n/2) + n
                    
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault83" >
                    <label class="form-check-label" for="flexRadioDefault83">
                    T(n) = T(n/2) + n²
                        

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault84" >
                    <label class="form-check-label" for="flexRadioDefault84">
                     T(n) = 2T(n-1) + log n 

                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 9
                </div>
                <div class="card-body">
                    <p class="card-text">The Merge Sort algorithm is based on which technique?
                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault91">
                    <label class="form-check-label" for="flexRadioDefault91">
                        Dynamic Programming

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault92" >
                    <label class="form-check-label" for="flexRadioDefault92">
                        Divide and Conquer

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault93" >
                    <label class="form-check-label" for="flexRadioDefault93">
                        Greedy Algorithm

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault94" >
                    <label class="form-check-label" for="flexRadioDefault94">
                        Backtracking
                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <div class="questions my-4">
            <div class="card" >
                <div class="card-header fw-bold">
                  Question 10
                </div>
                <div class="card-body">
                    <p class="card-text">Which of the following notations represents the best case of an algorithm?

                    </p>

                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault101">
                    <label class="form-check-label" for="flexRadioDefault101">
                        Big-O
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault102" >
                    <label class="form-check-label" for="flexRadioDefault102">
                        Theta (Θ)

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault103" >
                    <label class="form-check-label" for="flexRadioDefault103">
                        Omega (Ω)

                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault104" >
                    <label class="form-check-label" for="flexRadioDefault104">
                        Small-o

                    </label>
                  </div>

                </div>
                
              </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit the Quiz</button>
 
      </div>

      
{% endblock content %}